<!-- post list container -->
<div class="body-container float">
  <div class="content-container article-list">
    <div class="card-container card-articles">
      <div class="card-list">
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
      </div>
    </div>
  </div>
</div>
<app-pagination></app-pagination>
