<nav class="navbar">
  <div class="navbar-content">
    <div class="navbar-logo"><a href="https://sukoshi.xyz/">Sukoshi</a></div>
    <div class="navbar-link">
      <div class="navbar-btn">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <ul class="navbar-list">
        <li class="navbar-list-item"><a href="https://sukoshi.xyz/">首页</a></li>
        <li class="navbar-list-item"><a href="https://sukoshi.xyz/links">友链</a></li>
        <li class="navbar-list-item"><a href="https://sukoshi.xyz/messages">留言</a></li>
        <li class="navbar-list-item"><a href="https://sukoshi.xyz/about">关于</a></li>
        <li class="navbar-list-item"><a href="https://sukoshi.xyz/anime">アニメ</a></li>
      </ul>
    </div>
  </div>
</nav>
